.art-block
    border-radius: 3px
    margin-bottom: 10px
    margin-top: 10px
    overflow hidden
    display flex
    flex-flow column nowrap
    img.art-preview
        max-height 550px
        min-height 250px
        object-fit cover
        width: 100%
    .art-info
        height 40px
        padding: 0 5px
        background rgba(255, 255, 255, 0.05)
        display flex
        flex-flow: row nowrap
        align-items: center
    .base-avatar
        height 30px
        width 30px
        border-radius: 30px
        object-fit cover
    .authur-name
        padding-left: 5px
        color: #aaa
    .art-info-title
        color: #ddd
        flex 1
        text-align: right 
        padding-right: 15px
    .favcount
        color: #aaa
        font-size: 12px