.block-state
    width: 100%
    display flex
    flex-flow: row nowrap
    color: #ffffff
    padding: 15px 0

    .block-state-item
        flex: 1
    .block-item-state
        text-align: center
        font-size: 15px
        line-height: 25px
    .block-item-head
        text-align: center
        font-size: 13px
        line-height: 18px