.comment-list
    margin-top: 10px

.comment-item
    .comment-user-info
        display flex
        flex-flow: row nowrap
        align-items: center
    .user-link
        padding-right: 5px
    .comment-time
        color: #aaa
        font-size: 12px
    .comment-msg
        padding: 0 15px
        color: #fff
        line-height: 30px