.fav-button
    margin-left: 5px
    padding: 0 5px
    border-radius: 2px
    line-height: 20px
    font-size: 12px
    display inline-block
    background: green
    vertical-align middle
    color: #fff