.tab-switcher
    .tab-button-group
        padding: 0 15px
        display flex
        flex-flow: row nowrap
    .tab-button
        line-height: 40px
        font-size: 15px
        color: #aaaaaa
        flex: 1
        text-align: center
        border-bottom-one-px(transparent)
    .active-tab-button
        color: #fff
        border-bottom-one-px(#fff)