.active-page
    padding: 0 10px 0
    height 100%
    box-sizing: border-box

    .am-list
        width: 100%

    .list-view-section-body
        background: #2b3e50

    .am-list-body
        &:before
            background: transparent !important
        &:after
            background: transparent !important