.art-detail-page
    display flex
    flex-flow column nowrap
    padding-bottom: 10px

    img.art-preview
        max-height 550px
        min-height 250px
        object-fit cover
        width: 100%
    .art-info-title
        line-height: 40px
        font-size: 23px
        padding-left: 15px
        color: #fff
        margin-top: 10px
    .desc-info
        line-height: 30px
        padding: 5px 15px 
        color: #fff
