.edit-profile
    min-height: 100%

    .tab-switcher
        margin-top: constant(safe-area-inset-top)
        margin-top: env(safe-area-inset-top)

    .edit-profile-avator
        padding: 15px 15px

        .intro
            line-height 27px
            font-size: 13px
            color: #fff
            margin: 10px 0
        
        .prev-avator
            height 80px
            width 80px
            object-fit: cover
            
        .next-avator
            height 100px
            width 100px
            object-fit: cover
        .upload-button
            margin-top: 10px
            position relative
            height 40px
            line-height: 40px
            width: 94px
            text-align: center
            background: #515b6d
            color: #fff

            input
                opacity: 0
                background: #fff
                position: absolute
                left: 0
                top: 0
                height: 40px
                width: 93px
        