.home-page
    background #2b3e50
    padding: 10px 10px 0
    height 100%

    .am-list-body
        &:before
            background: transparent
        &:after
            background: transparent

    .list-view-section-body
        background: #2b3e50