.home-page
    background #2b3e50
    padding: 0 10px
    height 100%

    .am-list-body
        &:before
            background: transparent !important
        &:after
            background: transparent !important

    .list-view-section-body
        background: #2b3e50

    .list-view-section-body
        padding-top: constant(safe-area-inset-top)
        padding-top: env(safe-area-inset-top)
