.journal-detail-page
    min-height: 100px 
    color: #fff

    .title
        margin-top: constant(safe-area-inset-top)
        margin-top: env(safe-area-inset-top)
        line-height: 30px
        font-size: 22px
        padding: 10px 15px 0 50px
    .journal-preview
        margin-top: 10px
        background: #515d6b
        padding: 15px
        color: rgba(255, 255, 255, 0.65)s