.login-page
    background #2b3e50
    min-height: 100%
    padding: 0 15px
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

.input-label
    line-height: 26px
    font-size: 13px
    color: #fff
    margin-top: 5px

.login-input
    height 39px
    border: 0
    width: 100%
    padding: 0 10px
    box-sizing: border-box

.login-button
    margin-top: 50px
    height 39px
    width: 94px
    background-color: #4e5d6c
    color: #fff
    border none