.user-page
    .user-gallery
        padding: 0 15px
    .user-avator
        position relative
        background: #fff
        font-size: 0
        img 
            height 100%
            width 100%
            object-fit: contain
            z-index 1
        &:after
            content: ''
            display inline-block
            height 100%
            width 0
        .info
            width: 100%
            box-sizing: border-box
            z-index 3
            color: #ffffff
            position absolute
            bottom: 0
            left 0
            padding: 50px 10px 10px
            background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .5))
            max-height 150px
            overflow-y auto
            overflow-x: hidden
            .name
                line-height: 40px
                font-size: 22px
            .intro
                line-height: 25px
                font-size: 14px
    .user-profile-list
        padding: 10px 15px
        background: rgba(255, 255, 255, 0.1)

        .profile-type
            color: #aaaaaa
            line-height: 16px
            font-size: 12px
        .next-block
            margin-top: 20px
        .profile-state
            color: #fff
            line-height: 22px
            font-size: 16px
        .is-void
            color: #aaa
        .profile-item
            padding: 7px 0
        a
            color: #df691a
    .edit-my-profile
        display: block
        text-align: center
        background: #515d6b
        color: #ffffff
        height 40px
        line-height: 40px
        width 100px
        margin: 10px 15px
            
