.user-page
    .user-avator
        position relative
        background: #fff
        font-size: 0
        img 
            height 100%
            width 100%
            object-fit: contain
            z-index 1
        &:after
            content: ''
            display inline-block
            height 100%
            width 0
        .info
            z-index 3
            color: #ffffff
            position absolute
            bottom: 0
            left 0
            padding: 50px 10px 10px
            background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .5))
            max-height 150px
            overflow hidden
            .name
                line-height: 40px
                font-size: 22px
            .intro
                line-height: 25px
                font-size: 14px
